body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background: #0d0d10;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
  position: fixed;
  width: 100%;
}

.logo {
  color: orange;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero span {
  color: orange;
}

/* SECTION */
.section {
  padding: 80px 20px;
  text-align: center;
}

/* SKILLS */
.skills {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* PROJECT */
.project {
  background: #1a1a24;
  padding: 20px;
  margin: 10px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  margin: auto;
}

input, textarea {
  padding: 10px;
}

button {
  background: orange;
  border: none;
  padding: 10px;
}
